*{

  font-family: "Comic Sans", "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}
.quist {
  text-align: center;
  color: white;
}
.quistlist {
  background-color: #90C3D4;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 26px;
  padding: 16px;
  margin: 0;
  border-radius: 12px;
}
.quistlist:last-child {
  border-right: none;
}
/*
div.quist {
  text-align: center;
  color: white;
}
div.quistlist {
  background-color: #90C3D4;
  display: inline-block;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 32px;
  padding: 32px;
  margin: 0;
  border-radius: 12px;
}
div.quistlist:last-child {

    border-right: none;
}
*/
.restartandsave {
  text-align: center;
  color: white;
}
.save {
  background-color: #90C3D4;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 26px;
  padding: 16px;
  margin: 0;
  border-radius: 12px;
}
.save:last-child {
  border-right: none;
}
.restart {
  background-color: #90C3D4;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 26px;
  padding: 16px;
  margin: 0;
  border-radius: 12px;
}
.restart:last-child {
  border-right: none;
}
.ulsett {
  display: inline-block;
  width: 200px;
  margin-bottom: -4px;
	padding: 0;
}
.ulsettlist {
  background-color: #90C3D4;
  width: 100%;
  color: white;
  text-align: center;
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 2px;
  border-radius: 12px;
  visibility: hidden;
}
.ulsettlist{
  float:left;
}
.clearboth {
  clear:both;
}

table {
  margin:auto;
}


.title {
  display: inline-block;
  padding: 16px;
  align-items: center;
  justify-content: center;

}
.titlelist {

  float:right;
}
.titlelist {

  display: inline-block;
  padding: 16px;
  margin-left: 4px;
  margin-top: -15px;
  width: 200px;
  float:right;
  background-color: #90C3D4;
  color: white;
  text-align: center;
  border-radius: 12px;
}
.dropbtn {
    display: inline-block;
    width: 200px;
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.dropbtn2 {
    display: inline-block;
    width: 200px;
    background-color: #90C3D4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.dropdown {
    text-align: center;
}
.textbox {
  border: 1px solid #FFFFFF;
  padding: 10px;
  width: 200px;
}
input[type="text"] {
  border: 1px solid #FFFFFF;
  font-size: 12px;
  padding: 7px;
  width: 392px;
  margin-top: -23px;
  margin-left: -196px;
  text-align: center;
  box-sizing:border-box;
  position: absolute;
  display: inline-block;
}
body {
  background-color: #333333;
}
h1{
  text-align: center;
  font-size: 56px;
  color: white;
}
td {
  vertical-align: top;
}

p {
  text-align: center;
  font-size: 26px;
  color: white;
}
.endgamelist {
  background-color: #90C3D4;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 26px;
  padding: 16px;
  margin-top: 50px;
  border-radius: 12px;
}
.endgamelist:last-child {
  border-right: none;
}
.whitewins {
  background-color: #C3A3E6;
  /*position:fixed;
  top:50%;
  left:0px;
  width:100%;
  margin-top:-62px;
  */
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 56px 0px;
  border-radius: 12px;
}
.blackwins {
  background-color: #49eb74;
  /*position:fixed;
  top:50%;
  left:0px;
  width:100%;
  margin-top:-62px;
  */
  color: black;
  text-align: center;
  font-size: 36px;
  padding: 56px 0px;
  border-radius: 12px;
}
.draw {
  background-color: #42706c;
  /*position:fixed;
  top:50%;
  left:0px;
  width:100%;
  margin-top:-62px;
  */
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 56px 0px;
  border-radius: 12px;
}
.load {
  text-align: center;
  color: white;
}
.loadlist {
    background-color: #90C3D4;
    color: white;
    text-align: center;
    width: 200px;
    font-size: 26px;
    padding: 16px;
    margin: 0;
    border-radius: 12px;
  }
.loadlist:last-child {
  border-right: none;
}
.p1 {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: 0px;
  margin-left:325px;
  direction: rtl;
  text-align: center;
  font-size: 16px;
  color: white;
}
#fenmessage{
  position:absolute;top:50%;left:0px;margin-top:-300px;width:100%;text-align:center;
}
